.editor-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.toggle-list {
    font-family: var(--Clash-Medium);
    padding: 2rem 4rem;
    font-size: 2.3rem;
}

.editor-section ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: var(--list-box-shadow);
    background-color: var(--list-bg-color);
    width: 80%;
    padding: 1rem;
    overflow-y: scroll;
    transition: height 0.7s;
}

.editor-section li {
    color: var(--main-black);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.2rem 0;
    border-bottom: 1px solid var(--list-item-border-color);
    padding-left: 1rem;
}

.editor-section li:hover {
    background: var(--list-item-bg-color-hover);
}

.editor-section li:hover button {
    background: var(--list-item-buttons-hover-bg-color);
    color: var(--list-item-buttons-hover-text-color);
    border: 1px solid var(--main-black);
}

.editor-section li span {
    font-size: 1.4em;
    color: var(--list-section-grey);
    /* transition: letter-spacing 1s; */
}

/* .editor-section li:hover span {
    letter-spacing: 0.01rem;
    transition: all 1s;
} */

.editor-section li button {
    box-shadow: none;
    border: 1px solid var(--list-item-buttons-border-color);
    border-radius: 0;
    background: none;
    padding: 0.7rem 2rem;
    color: var(--list-section-grey);
}

/* .done-editing-button {
    border: 2px solid var(--tertiary-color);
} */

.editor-section li .list-buttons-container {
    display: flex;
    margin-left: auto;
}

.editor-section strong {
    color: var(--main-black);
}

.add-card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card-display {
    display: flex;
    gap: 20px;
}

.card-display input {
    background-color: var(--tertiary-color);
    padding: 0.5rem 0 0.5rem 0.5rem;
}

/*------------------------------MEDIA QUERIES------------------------------*/
/* @media (max-height: 1046px) {
    .editor-section {
        padding: 2rem 0;
        justify-content: flex-start;
    }
} */
/* @media (max-height: 920px) {
    .editor-section {
        padding: 2rem 0;
    }
} */

/* @media (max-height: 477px) {
    .editor-section ul {
        padding: 0;
    }
}
*/
@media (max-width: 915px) {
    .add-card-section input {
        padding: 1rem 2rem;
    }
}

@media (max-width:785px) {
    .add-card-section input {
        width: 90%;
    }
} 

