.viewer-section {
    /* position: relative; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.flashcard-title {
    color: var(--flashcard-color-viewer);
    font-size: 1.3rem;
    font-family: var(--PolySans);
    border-bottom: 1px solid var(--flashcard-viewer-border-bottom-color);
}

.card-text {
    font-size: 1.3rem;
    color: var(--card-main-text-color);
}

.view-answer-text {
    font-size: 1.1em;
    color: var(--click-to-view-text-color);
}

.cards-and-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
}

.cards-and-navigation button {
    border: none;
    box-shadow: none;
    background-color: #242424;
    color: white;
}

/*------------------------------MEDIA QUERIES------------------------------*/

@media (max-width: 1350px) {
    .cards-and-navigation {
        flex-direction: column;
    }

    .buttons-container {
        display: flex;
        margin: 5em 0 1em 0;
    }
}

@media (max-width: 400px) {
    
}