.viewer-section {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.flashcard-title {
    color: var(--flashcard-color-viewer);
    font-size: 1.3rem;
    font-family: var(--PolySans);
    border-bottom: 1px solid var(--flashcard-viewer-border-bottom-color);
}

.card-text {
    font-size: 1.3rem;
    color: var(--card-main-text-color);
}

.view-answer-text {
    font-size: 1.1em;
    color: var(--click-to-view-text-color);
    /* animation: glow 2s linear infinite; */
}

/* @keyframes glow {
    from, to {
        color: var(--click-to-view-text-color);
    }
    50% {
        color: var(--main-white);
    }
} */

.nav-buttons-container-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}