.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.editor-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card-display {
  display: flex;
  gap: 20px;
}