.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.editor-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.add-card-section {
  display: flex;
  gap: 10px;
}

input {
  padding-left: 5px;
  outline: none;
}

.card-display {
  display: flex;
  gap: 20px;
}

.viewer-section {
  position: relative;
  z-index: -100000;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  z-index: 0;
  padding: 0.5rem 2rem;
  border: 1px solid white;
  background-color: rgb(49, 49, 49);
  color: white;
}

.flip-button {
  position: absolute;
  bottom: 0;
}

.shuffle-button {
  position: absolute;
  bottom: -40px;
}